h1,
h2 {
font-family:Arial, Helvetica,
sans-serif ;
text-align: center;
}

h1{
font-size: 16pt;
color:#689CD2 ;
}

h2 {
font-size: 14pt;
color:#689CD2

}
a{
    color:#fff;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #689CD2;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
.header__section{
    display: flex;
    align-items: center;
}
.heaber__item {
    margin: 35px;
    padding: 4px;
    font-size: 20px;
} 

a {
    color: #fff;  
    text-decoration: none; 
   }
   a:visited {
    color: #8F8E8E; 
   } 
   a:hover {
    color: #ff9900; / 
    text-decoration: underline; 
   }
.bt-1{
    text-align: center;
}
 
     #wiki{
     color: #689CD2;
     }
     nav .menu{
    color: #689CD2;
     }
     nav .menu:hover {
     text-decoration: underline;
     }
     p::first-letter{
    color: #689CD2;
     }
    
     #mail{
     position: absolute;
     top:0%;
     width:8px;
     margin-left:12%;
    }
     #companyme{
     padding: 39px;
     margin: 19px;
     color: #689CD2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
     }
     .custom-btn {
     width: 130px;
    height: 40px;
     color: #fff;
     border-radius: 5px;
    padding: 10px 25px;
     font-family: 'Lato', sans-serif;
     font-weight: 500;
     background: transparent;
     cursor: pointer;
     transition: all 0.3s ease;
     position: relative;
     display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
     }
     .btn-1 {
     width: 130px;
     height: 40px;
     line-height: 42px;
     padding: 0;
    border: none;
     background: rgb(0, 183, 255);
     background: linear-gradient(0deg, rgb(0, 153, 255) 0%, rgb(2, 126, 251) 100%);
     }
      .btn-1:hover {
     color: #0997f0;
    background: transparent;
     box-shadow:none;
     }
     .btn-1:before,
     .btn-1:after{
     content:'';
     position:absolute;
     top:0;
     right:0;
     height:2px;
     width:0;
     background: #0965f0;
     box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
     }
     .btn-1:after{
     right:inherit;
     top:inherit;
     left:0;
     bottom:0;
     }
     .btn-1:hover:before,
     .btn-1:hover:after
     {
    width:100%;
     transition:800ms ease all;
     }